header {
	background-color: black;	
}

body {
	
	color: black;
}

h1 {
	font-size: 3em;
	letter-spacing: .6em;
	color: #ff3f20;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
      }